<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Delirium geek</title>


  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <h1>Delirium geek</h1>

  <div>
    <h2>Veuillez renseigner vos informations</h2>

    <div class="profil">
      <p> <img src="{{.imgPath}}"> <p> {{.pseudo}} </p> </p>
    </div>


  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>



  <script src="js/script.js"></script>
</body>

</html>