<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Delirium geek</title>


  <link href="css/style.css" rel="stylesheet">
</head>

<body>

  <h1>Delirium geek</h1>

  <div>
    <h2>Veuillez renseigner vos informations</h2>

    <div class="inscription">
      <form method="POST" name="inscription" action="" id="form">
        <div class="pseudo">
          <label for="pseudo">Pseudo</label>
          <input type="text" name="pseudo" class="form-control" id="pseudo" placeholder="Pseudo">
        </div>
        <div class="picture">
        <label for="picture">Picture</label>
          <input type="text" name="picture" class="form-control" id="picture" placeholder="Picture path">
        </div>
        <input type="submit" id="sendform" class="btn btn-primary" data-action="submit" value="Valider"> 
    </div>
  </div>


  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>
  <a href="/tchat">Go to chat</a>



  <script src="js/script.js"></script>
</body>

</html>